{% load static %}

<footer>
    <!-- Social media icons and links -->
    <a href="https://github.com/GrzegorzStary" target="_blank" rel="noopener" aria-label="Github profile link - opens in new tab">
        <img src="{% static 'icons/github.svg' %}" alt="GITHUB LOGO" class="social-icon">
    </a>
    <a href="https://www.linkedin.com/in/gregory-stary-software-dev" target="_blank" rel="noopener" aria-label="Linkedin profile link - opens in new tab">
        <img src="{% static 'icons/linkedin.svg' %}" alt="LINKEDIN LOGO" class="social-icon">
    </a>
    <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook profile link - opens in new tab">
        <img src="{% static 'icons/facebook.svg' %}" alt="FACEBOOK LOGO" class="social-icon">
    </a>
    <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram profile link - opens in new tab">
        <img src="{% static 'icons/instagram.svg' %}" alt="INSTAGRAM LOGO" class="social-icon">
    </a>
</footer>